
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  text-align: center;
  background-color: #DFD0EA;
  font-family: 'Roboto';
  color: #4C166E;
}

h5 {
  color: #4C166E;
}

h6 {
  color: black;
}


select {
  color: #4C166E;
}

.card {
  background-color: #DFD0EA;
}

.card img {
  margin-top: 10px;
}

.Tech {
  color: SlateBlue;
}

/* .Projects img { display: block;float: left;} */


/* .Button {
  aria-haspop: false;
  color: light;
} */

/* .toggle {
  background-color: white;
} */

@fontface {
font-family: 'Roboto';
src: url('https://fonts.googleapis.com/css?family=Roboto');
}
